.loading-spinner {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-color: var(--color-accent);
    border-radius: 50%;

    animation: zoom linear infinite alternate;
    animation-duration: var(--transition-short-duration);
}

@keyframes zoom {
    from {
        transform: scale(1);
    } to {
          transform: scale(1.2);
      }
}